<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/nav.ejs')  %>
    <h1>An error happened, We are working to fix this try again later.</h1>

<%- include('includes/end.ejs') %>